/* Aca estan todos mis parciales importados */
/* Mediaquerys al final ; variables al principio */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Poppins', sans-serif;
}

.body0 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/avion.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.body1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/wooden-bridge-koh-nangyuan-island-surat-thani-thailand.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.body2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/paisaje6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.body3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/maldives-island.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.body4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/paisaje5..webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Header */
header {
  top: 0;
  height: 15vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__enlace {
  height: 250px;
  width: 250px;
}

.logo__img {
  height: 250px;
  width: 250px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin: 0 20px;
  position: relative;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  /* text-transform: uppercase; */
  transition: 0.5s;
}

nav ul li a:hover {
  opacity: 0.5;
  /* color: #009688; */
}

.icono {
  font-size: 1rem;
}

.boton {
  width: 36px;
  padding: 5px 0;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  align-self: center;
  position: relative;
  overflow: hidden;
}

.span0 {
  background: #009688;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

/* Seccion Home */
.home__contenedor {
  height: 55vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__contenedor2 {
  height: 20vh;
  margin-left: 5%;
  margin-right: 5%;
}

.div__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contenedor__titulo {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.contenedor__button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 10px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  align-self: center;
}

.span1 {
  background: #009688;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

.contenedor__btn {
  text-decoration: none;
  color: #fff;
}

.contenedor__parrafo {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 18px;
  margin-left: 32%;
  margin-right: 32%;
}

.div__flex a {
  color: #009688;
  text-decoration: none;
}

/* Footer */
footer {
  bottom: 0;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer div p {
  padding-left: 1rem;
}

footer span {
  padding-right: 1rem;
  font-size: 2rem;
  color: #fff;
}

footer a {
  text-decoration: none;
  opacity: 1;
  transition: 0.2s;
}

footer a:hover {
  opacity: 0.6;
}

/* Seccion Reserva */
.reserva__contenedor1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
}

.contenedor__form1 {
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  /*     background-color: #1e1e1eb5;
    box-shadow: 0 0 20px 0 rgba(157, 140, 140, 0.8); */
}

.form1__divs {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

.form1__divs_button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #009688;
  cursor: pointer;
  align-self: center;
  position: relative;
  overflow: hidden;
}

.span0 {
  background: #009688;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.form1__divs_button:hover .span0 {
  width: 100%;
}

.form1__divs_button {
  text-decoration: none;
  color: #fff;
}

.form1__divs input {
  background-color: #1e1e1eb5;
  color: #fff;
  padding: 5px 0 5px 0;
}

.form1__divs label {
  color: #fff;
  padding: 0.5rem;
}

.paquetes__contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.paquetes__flex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow: auto;
  scrollbar-color: #1e1e1e;
  scrollbar-width: none;
}

.paquetes__flex::-webkit-scrollbar-track {
  background-color: transparent;
}

.paquetes__flex::-webkit-scrollbar-thumb {
  background-color: #009688;
}

.paquetes__flex::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.paquete__item {
  width: 80%;
  max-width: 400px;
  height: 250px;
  border-radius: 8px;
  padding: 1rem;
  flex-shrink: 0;
}

/* .paquetes__relative {
    position: relative;
}

.paquetes__flecha {
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #fff;
    color: #000;
    padding: 1rem;
    border-radius: 50%;
    transform: translateY(-50%) translateX(50%);
    cursor: pointer;
} */
.paquete__img {
  height: 80%;
  width: 100%;
  position: relative;
  object-fit: cover;
}

.absolute {
  bottom: 0;
  left: 0;
}

/* Lugares Populares */
.lugares_titulo {
  color: #fff;
  text-align: center;
  height: 5vh;
}

.contenedor__cards {
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cards {
  width: 350px;
  min-height: 400px;
  border-radius: 10px;
  /* border: 1px solid #000 ; */
  /* color: #000; */
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform .4s;
}

.cards:hover {
  transform: scale(1.03);
}

.card__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 2px;
}

#card {
  color: #fff;
}

#card2 {
  color: #fff;
}

#card3 {
  color: #fff;
}

#card4 {
  color: #fff;
}

.card__titulos {
  padding-top: 0.5rem;
  font-size: 24px;
}

div .boton1 {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #009688;
  cursor: pointer;
  align-self: center;
  position: relative;
  overflow: hidden;
  color: #fff;
}

div button .span1 {
  text-align: center;
  background: #009688;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: transparent;
  bottom: 0;
  right: 0;
  visibility: hidden;
  border-radius: 10px;
  z-index: 100;
}

.modal-active {
  opacity: 1;
  visibility: visible;
  z-index: 5;
}

.modal-carrito {
  width: 30rem;
  height: 100vh;
  transition: 0.5s;
  background-color: #1e1e1eea;
  position: relative;
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito2 {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.productoEnCarrito2-p {
  padding-left: 0.3rem;
  padding-bottom: 0.3rem;
}

.clase__modal {
  position: relative;
}

#cerrar {
  bottom: 0;
  position: fixed;
}

.contenedor__flex {
  display: flex;
  justify-content: center;
}

.modal__titulo {
  padding-top: 0.5rem;
}

.icono2 {
  font-size: 20px;
  color: #000;
  cursor: pointer;
}

/* Seccion Galeria  */
.grid {
  margin-left: 5%;
  margin-right: 5%;
  min-height: 65vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.hijo__img-1 {
  background-image: url(../images/playa1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hijo__img-2 {
  background-image: url(../images/paisaje1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hijo__img-3 {
  background-image: url(../images/playa2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hijo__img-4 {
  background-image: url(../images/playa3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hijo__img-5 {
  background-image: url(../images/ventanilla.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hijo__img-6 {
  background-image: url(../images/rio-janeiro.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .hijo__img-7{
    background-image: url(../images/rio-janeiro.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hijo__img-8{
    background-image: url(../images/rio-janeiro.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hijo__img-9{
    background-image: url(../images/rio-janeiro.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */
.barra-busqueda {
  width: 75%;
  padding: 10px;
  border-radius: 12px;
  margin-left: 10%;
  margin-bottom: 2rem;
  background-color: #1e1e1eb5;
  cursor: text;
  color: #fff;
}

.busqueda {
  display: flex;
  align-items: flex-start;
}

.busqueda button .span-icono {
  font-size: 2rem;
  background: transparent;
  color: #fff;
}

.busqueda button {
  background: transparent;
  border: transparent;
  cursor: pointer;
  width: 100px;
}

/* Seccion Contacto */
.section__contacto {
  height: 40vh;
}

.flex__contacto {
  display: flex;
  flex-direction: column;
}

.contenedor__form h2 {
  text-align: center;
  /*     padding-top: 0.5rem;
    margin-bottom: 1rem; */
}

.contenedor__form {
  background-color: #1e1e1eb5;
  box-shadow: 0 0 20px 0 rgba(157, 140, 140, 0.8);
  margin-left: 15%;
  margin-right: 15%;
  height: 40vh;
  margin-bottom: 1rem;
}

.contenedor__form p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3rem;
}

p label {
  text-align: center;
  padding-top: 0.5rem;
  padding-right: 1.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

p input {
  text-align: start;
  width: 60%;
  padding: 0.4rem;
  background-color: #1e1e1eb5;
  color: #009688;
}

p textarea {
  text-align: start;
  width: 60%;
  /*     padding: 0.5rem; */
  background-color: #1e1e1e;
}

p button {
  width: 200px;
  padding: 10px 0;
  text-align: center;
  margin: 10px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  align-self: center;
  position: relative;
  overflow: hidden;
}

.span1 {
  background: #009688;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

.contenedor__btn {
  text-decoration: none;
  color: #fff;
}

/* Cards con iconos */
.reserva__contenedor2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 33vh;
  margin-top: 0.6rem;
}

.card {
  width: 300px;
  height: 250px;
  border: 1px solid #1e1e1eb0;
  border-radius: 4px;
  background-color: #6560588d;
  color: #fff;
  /* opacity: 1; */
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.card:hover {
  transform: translateY(-10px);
}

.span__size {
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #009687c2;
}

.card__titulo1 {
  padding-bottom: 1rem;
  text-align: center;
}

.card_parrafo1 {
  text-align: center;
}

.contenedor__logueo {
  height: 75vh;
  display: flex;
  align-items: center;
}

.contenedor__logueo div {
  background-color: #1e1e1eb5;
  box-shadow: 0 0 20px 0 rgba(157, 140, 140, 0.8);
  padding-left: 1rem;
  padding-right: 1rem;
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedor__logueo div h3 {
  text-align: center;
  padding-bottom: 1rem;
}

.contenedor__logueo label {
  margin: 0.5rem;
  text-align: center;
}

.contenedor__logueo input {
  background-color: #1e1e1eb5;
  color: #fff;
  padding: 2.5px 0 2.5px 0;
  margin-bottom: 0.8rem;
}

/* .div__loguearte button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
} */
/*# sourceMappingURL=style.css.map */