/* Seccion Galeria  */
.grid {
    margin-left: 5%;
    margin-right: 5%;
    min-height: 65vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    // overflow: hidden;
}

.hijo__img-1 {
    background-image: url(../images/australia2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hijo__img-2 {
    background-image: url(../images/cancún1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hijo__img-3 {
    background-image: url(../images/playa2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hijo__img-4 {
    background-image: url(../images/rutasur.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    }

.hijo__img-5 {
    background-image: url(../images/venecia-italia.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hijo__img-6 {
    background-image: url(../images/playa14.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hijo__img-7{
    background-image: url(../images/playa11.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hijo__img-8{
    background-image: url(../images/cancun2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hijo__img-9{
    background-image: url(../images/newyor-hotel.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}
.grid__hijo{
    overflow: hidden;
    transition: all 0.3s ease-out;
}
.grid__hijo:hover{
    overflow: hidden;
    transform: scale(1.15, 1.15);
}

.barra-busqueda{
    width: 75%;
    padding: 10px;
    border-radius: 12px;
    margin-left: 10%;
    // margin-right: 5%;
    margin-bottom: 2rem;
    background-color: #1e1e1eb5;
    cursor: text;
    color: #fff;
}
.busqueda{
    display: flex;
    // justify-content: space-evenly;
    align-items: flex-start;
}
.busqueda button .span-icono {
    font-size: 2rem;
    background: transparent;
    color: #fff;
}
.busqueda button {
    background: transparent;
    border: transparent;
    cursor: pointer;
    width: 100px;
}

/* .div-busqueda {
    margin-left: 5%;
    margin-right: 5%;
    height: 5vh;
    display: flex;
    justify-content: center;
} */