/* Header */

header {
    top: 0;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__enlace {
    height: 250px;
    width: 250px;
}

.logo__img {
    height: 250px;
    width: 250px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    margin: 0 20px;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    /* text-transform: uppercase; */
    transition: 0.5s;
}

nav ul li a:hover {
    opacity: 0.5;
    /* color: #009688; */
}
.icono{
    font-size: 1rem;
}
.boton{
    width: 36px;
    padding: 5px 0;
    text-align: center;
    // margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    align-self: center;
    position: relative;
    overflow: hidden;
}
.span0 {
    background: #009688;
    // height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
