/* Seccion Home */
.home__contenedor {
    height: 75vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor__titulo {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

.contenedor__parrafo {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 18px;
    margin-left: 32%;
    margin-right: 32%;
}

.contenedor__button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.span1 {
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

.contenedor__btn {
    text-decoration: none;
    color: #fff;
}