/* Seccion Reserva */
.reserva__contenedor1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
}

.contenedor__form1 {
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
/*     background-color: #1e1e1eb5;
    box-shadow: 0 0 20px 0 rgba(157, 140, 140, 0.8); */
}

.form1__divs {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
}

.form1__divs_button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #009688;
    cursor: pointer;
    align-self: center;
    position: relative;
    overflow: hidden;
}
.span0 {
    background: #009687a0;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.form1__divs_button:hover .span0 {
    width: 100%;
}

.form1__divs_button {
    text-decoration: none;
    color: #fff;
}
.form1__divs input {
    background-color: #1e1e1eb5;
    color: #fff;
    padding: 5px 0 5px 0;
}
.form1__divs label {
    color: #fff;
    padding: 0.5rem;
}


// paquetes scroll

.paquetes__contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.paquetes__flex {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow: auto;

    scrollbar-color: #1e1e1e;
    scrollbar-width: none;
}

.paquetes__flex::-webkit-scrollbar-track {
    background-color: transparent;
}

.paquetes__flex::-webkit-scrollbar-thumb {
    background-color: #009688;
}

.paquetes__flex::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.paquete__item {
    // background-color: #333333;
    width: 80%;
    max-width: 400px;
    height: 250px;
    border-radius: 8px;
    padding: 1rem;
    flex-shrink: 0;
}

/* .paquetes__relative {
    position: relative;
}

.paquetes__flecha {
    position: absolute;
    top: 50%;
    right: 0;
    background-color: #fff;
    color: #000;
    padding: 1rem;
    border-radius: 50%;
    transform: translateY(-50%) translateX(50%);
    cursor: pointer;
} */
.paquete__img{
    height: 80%;
    width: 100%;
    position: relative;
    object-fit: cover;
}
.absolute{
    // position: absolute;
    // top: -2;
    bottom: 0;
    left: 0;
}
.displayRow{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
}
.botonDestino{
    width: 100px;
    padding: 15px 0;
    text-align: center;
    // margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    align-self: center;
    position: relative;
    overflow: hidden;
}